.topToBtm {
    position: relative;
}

.iconPositionStyle {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
    background-color: rgb(214, 145, 163);
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
}

.iconPositionStyle:hover {
    animation: none;
    background: #fff;
    color: #ea709b;
    border: 2px solid rgb(224, 191, 200);
}

@keyframes movebtn {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}