.about-us {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 10rem;
    color: #604A57;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        margin-bottom: 1.5rem;
        margin-top: 1.5rem;

        div {
            background-color: rgb(224, 191, 200);
            border-radius: 50%;
            height: 1rem;
            width: 1rem;
        }
    }

    .image {
        width: 100%;

        img,
        video {
            width: 100%;
            border-radius: 2rem;
        }
    }
}

@media (max-width:1024px) {
    .about-us {
        padding: 1rem 1.5rem;
    }
}

@media (max-width:768px) {
    .about-us {
        padding: 1rem 0;
    }
}