.footer {
    background-color: rgba(224, 191, 200, 0.20);
    padding: 1.5rem 5vw;
    color: #604A57;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
    gap: 1vh;
    width: 35%;
}

.slogan {
    font-size: 1rem;
    position: relative;
}



.pageLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
    gap: 1vh;
}

.pageLinks a {
    color: #604A57;
}

.mediaLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
    gap: 1vh;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
    gap: 1vh;
}

.contacts a {
    color: #604A57;
}

.line {
    background-color: #604A57;
    width: 100%;
    height: 0.1vh;
    margin: 3vh 0;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

/* Responsive styles */
@media screen and (max-width: 776px) {
    .info {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {}