.best-sellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    transition: all 0.3s ease;

    .best-sellers-carousel {
        display: flex;
        align-items: center;
        list-style: none;
        width: 100%;
        overflow-x: hidden;
        position: relative;
        user-select: none;

        .review {
            padding: 1rem;
            width: 30rem;
            height: 12rem;
            border: solid #604A57;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 1rem;
            position: relative;
            background-color: rgba(224, 191, 200, 0.20);
            color: #604A57;

            .up {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;

                .left {
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    align-items: center;

                    .icon {
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }

            .date {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
            }
        }

        &.dragging {
            cursor: grabbing;
        }
    }
}

.best-sellers-navigation {
    display: flex;
    gap: 1rem;

    button {
        // background-color: #fff;
        border: none;
        // border-radius: 1rem;
        font-size: 1.5rem;
        // padding: 0.1rem 1rem;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
            cursor: default;
        }
    }
}

.best-sellers-show-all {

    a {
        border: none;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        cursor: pointer;
        text-decoration: none;
        color: #333;

        &:hover {
            text-decoration: underline;
        }
    }
}
